

.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('https://www.shutterstock.com/shutterstock/videos/24223858/thumb/1.jpg?ip=x480');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da página */
    color: white; /* Deixa o texto branco para contrastar com o fundo */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    font-size: 16px;
    cursor: pointer;
}

.marker-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}





